<h1>Beer places search</h1>

<%= form_tag places_path do %>
  city <%= text_field_tag :city, params[:city] %>
  <%= submit_tag "Search" %>
<% end %>

<% unless @places.empty? %>
  <table class='table table-hover'>
    <thead>
      <% Place.rendered_fields.each do |f| %>
        <td><%=f %></td>
      <% end %>
    </thead>
    <% @places.each_with_index do |place, index| %>
      <tr>
        <% Place.rendered_fields.each do |f| %>
          <td>
            <% if f == :name %>
              <%= link_to place.send(f), place_path(@city, index) %>
            <% else %>
              <%= place.send(f) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% else %>
  No results.
<% end %>
